img{
    width: 30%;
    float: left;
    margin: 1.66%;
}

h3
{
    font-family: cursive;
    font-size: 18px;
    color: white;
    margin-left: 1.66%;
    border-bottom: 2px solid #f1f1f141;
    padding-bottom: 5px;
    width: 30%;
}

#blackAlbum
{
    width: 29.756%;
}

body
{
    background-color: rgb(78, 78, 78);
}