h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body
{
    background-color: rgb(240, 240, 240);
    padding-top: 70px;
}

.jumbotron
{
    background-color: rgb(210, 210, 210)
}